@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    display: grid;
    place-content: center;
}

.c-gallery {
    display: grid;
    grid-gap: 40px;
}

@media (min-width: 1024px) {
    .c-gallery {
        grid-template-columns: 1fr 1.7fr;
    }
}

.c-gallery .c-gallery__header {
    padding: 20px;
    height: 100%;
    display: grid;
    place-items: center;
}

@media (min-width: 1024px) {
    .c-gallery .c-gallery__header {
        height: 100vh;
    }
}

.c-gallery .c-gallery__header .c-gallery__header-inner {
    max-width: 400px;
}

.c-gallery .c-gallery__header .c-gallery__title {
    margin: 0 0 16px;
    color: #141d24;
    font-size: 58px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.c-gallery .c-gallery__header .c-gallery__subtitle {
    display: block;
    margin: 0 0 8px;
    color: rgba(20, 29, 36, 0.7);
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.c-gallery .c-gallery__header .c-gallery__description {
    margin: 0 0 16px;
    color: #141d24;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;

}

.c-gallery .c-gallery__header .c-gallery__link {
    position: relative;
    align-items: center;
    color: #141d24;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: initial;
}

.c-gallery .c-gallery__header .c-gallery__link:hover {
    color: #0b1014;
}

.c-gallery .c-gallery__images {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .c-gallery .c-gallery__images {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.c-gallery img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.c-gallery .c-gallery__column {
    animation: slide 50s linear infinite;
}

.c-gallery .c-gallery__column:hover {
    animation-play-state: paused;
}

.c-gallery .c-gallery--reverse {
    animation-direction: reverse;
}

@keyframes slide {
    to {
        translate: 0 -50%;
    }
}

.textto {
    padding: 120px 40px;
    line-height: 1.6;
}

.textto .textto-inner {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 36px;
    font-size: 18px;
}